.mp-logo {
  width: 90px;
}

.banner-text {
  padding: 1em;
}

.banner-1 {
  background-image: url("../images/banner-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;
}

.banner-2 {
  background-image: url("../images/banner-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;
}

.banner-3 {
  background-image: url("../images/banner-3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  height: 60vh;
  width: 100%;
}

ul li {
  padding: 0 .75em;
}

ol li {
  padding: 0.75em 1.25em;
}

ul li a, ol li a {
  text-decoration: none;
  color: #fff;
}

.verticle-centre-header {
  width: 100%;
  position: absolute;
  top: 45vh;
}

.verticle-centre {
  padding: 0 2em;
  width: 100%;
  position: relative;
  top: 35vh;
}

.banner {
  height: 100vh;
}

.max-width {
  margin: 0 auto;
  max-width: 850px;
}

.link-btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-top: 1em;
  padding: .75em;
  border: 3px solid #fff;
  transition: .25s;
}

.link-btn:hover {
  color: #d2b887;
  background-color: #fff;
}

.link-btn-external {
  text-transform: uppercase;
  text-decoration: none;
  color: #D2B887;
  padding: .75em;
  border: 3px solid #D2B887;
  transition: .25s;
}

.link-btn-external:hover {
  color: #fff;
  background-color: #D2B887;
}

a {
  text-decoration: none;
}

.hover-underline {
  transition: 0;
}

.hover-underline:hover {
  border-bottom: 1px solid #fff;
}

.hover-purple {
  transition: 0.25s;
}

.hover-purple:hover {
  color: #a983bb;
  border-bottom: 2px solid #a983bb;
}

.max-body, h1, h2 {
  max-width: 1000px;
  margin: 0 auto;
}

.back-purple {
  color: #fff;
  background-color: #A983BB;
  padding-bottom: .5em;
}

.back-tan {
  background-color: #D2B887;
  color: #fff;
  padding-bottom: .5em;
}

.back-blue {
  background-color: #26BBB3;
  color: #fff;
  padding-bottom: .5em;
}

.border-purple {
  margin-bottom: 1em;
  border-bottom: 2px solid #a983bb;
}

.border-tan {
  margin-bottom: 1em;
  border-bottom: 2px solid #D2B887;
}

.border-blue {
  margin-bottom: 1em;
  border-bottom: 2px solid #26BBB3;
}

.footer-a {
  padding-bottom: 1.75em;
  color: #fff;
}
